body {
    background: rgb(228,225,225);
    background: linear-gradient(150deg, rgba(228,225,225,1) 0%, rgba(184,182,182,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: #290ee2;
    font-size: 70px;
    margin-left: 50px;
    margin-top: 30px;
}

.nav-bar {
    background: #090909;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-bottom: 50px;
}

.link-square {
    text-transform: capitalize;
    flex-grow: 1
}

.link-square .link-content {
    display: flex;
    list-style-type: none;
}

.link-square .link-content .link {
    margin-left: 10px;
    color: #dcd2d2;
    text-decoration: none;
    text-align: center;
    height: 40px;
    padding: 10px
}

.link-square .link-content .link:hover {
    background: #dcd2d2;
    color: #090909;
}

.search-square {
    background: white;
    flex-basis: 203px;
    margin-right: 100px;
    padding: 5px 0px
}

.search-square .input {
    border: none;
    color: white;
}

.search-square .button {
    background: white;
    border: none;
}

.left {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.left .poster {
    width: 400px;
    height: 600px;
    background: url('./image/poster.png');
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    margin-top: 50px;
}

.left .info {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.left .info .name {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    margin-right: 50px;
}

.left .info .item {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 400px;
    margin-left: 10px;
    border: 1px solid #BEBCBC;
    margin-bottom: 10px;
}

.left .info .item .item-1 {
    flex-basis: 100px
}

.left .info .item .item-2 {
    flex-grow: 1
}

.story {
    width: 800px;
    margin-left: 50px;
    margin: 100px;
}

.select-square {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-square .select {
    background: white;
    padding: 5px;
    border-radius: 20px;
}

.select-square .link-select .content {
    list-style-type: none;
}

.select-square .link-select .content .link {
    text-decoration: none;
    color: #090909;
}

.select-square .link-select .content .link:hover {
    color: blue;
}

.select-square .link-select .content .link:visited {
    text-decoration: none;
    color: red
}

.bd-1px {
    border: 1px solid #707070
}

.c-white {
    color: #FFF3F3
}

.bg-green {
    background: #0FBC37
}

.pd-8px{
    padding: 8px
}

.mg-b-20px {
    margin-bottom: 20px;
}